.hero__button, .portfolio__button, .subscribe__button, .modal-form__button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
}

.feature-list__icon, .worker-card__social-link, .clients-list__link, .join__link, .modal__close-button, .modal-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-section, .team-section, .clients, .portfolio, .page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-button {
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu__close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-button:hover .mobile-menu__close-icon,
.mobile-menu__close-button:focus .mobile-menu__close-icon {
  fill: #2196f3;
}

.menu-list__item:not(:last-child),
.menu-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list {
  margin-bottom: 302px;
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-list__link--active {
  color: #2196f3;
}

.menu-contacts-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts-list__link--accent {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

.menu-social-list {
  display: flex;
}

.menu-social-list__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo {
  color: #000000;
}

.contacts__logo {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .contacts__logo {
    justify-content: center;
  }
}

.page-footer__logo {
  color: #ffffff;
}

.site-nav {
  display: none;
}

.auth-nav {
  display: none;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .burger-icon,
.menu-button:focus .burger-icon {
  fill: #2196f3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
}

.hero__button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
  }
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__icon {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .feature-list__title {
    text-align: center;
  }
}

.occupation-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .occupation-section {
    display: none;
  }
}

.works-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.works-list__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.works-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team-section {
  text-align: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .team-section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .workers-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .workers-list {
    margin: -15px;
  }
}

.worker-card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .worker-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .worker-card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .worker-card:not(:last-child) {
    margin-right: 30px;
  }
}

.worker-card__photo {
  width: 450px;
  height: 460px;
}

@media screen and (min-width: 768px) {
  .worker-card__photo {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .worker-card__photo {
    width: 270px;
    height: 260px;
  }
}

.worker-card__info {
  padding: 30px 122px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .worker-card__info {
    padding: 30px 74px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .worker-card__info {
    padding: 30px 32px;
  }
}

.worker-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.worker-card__position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.worker-card__social-list {
  display: flex;
  justify-content: space-around;
}

.worker-card__social-list-item:not(:last-child) {
  margin-right: 10px;
}

.worker-card__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-card__social-link:hover, .worker-card__social-link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.worker-card__social-link-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-card__social-link:hover .worker-card__social-link-icon,
.worker-card__social-link:focus .worker-card__social-link-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  border: 1px solid #afb1b8;
  height: 92px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid #2196f3;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__filter-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .portfolio__filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__filter-list-item {
    margin-bottom: 15px;
  }
}

.portfolio__filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.grid__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.grid__item:hover, .grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
  color: #757575;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .card__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card__img {
    width: 370px;
  }
}

.card__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0);
}

.card__text {
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .card__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .card__text {
    padding: 63px 24px;
  }
}

.card__content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__content--first {
    padding-bottom: 56px;
  }
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__type {
  font-size: 16px;
  line-height: 1.87;
}

.page-footer {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .page-footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-left: 61px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__location {
  margin-bottom: 8px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address__location {
    margin-bottom: 9px;
  }
}

.address__mail {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__mail {
    margin-bottom: 9px;
  }
}

.address__item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:hover, .address__item:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .join__list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.join__item {
  margin-right: 10px;
}

.join__link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.join__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__info {
    display: flex;
    align-items: center;
  }
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}

.subscribe__text {
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}

.modal__close-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.modal__close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__items {
  position: relative;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding: 11px 12px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal-form__field:focus-within .modal-form__input {
  outline: #2196f3;
  border: 1px solid #2196f3;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within .modal-form__icon {
  fill: #2196f3;
}

.modal-form__comment {
  margin-bottom: 20px;
}

.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus-within > .modal-form__textarea {
  outline: #2196f3;
  border: 1px solid #2196f3;
}

.modal-form__checkbox {
  margin-bottom: 30px;
}

.modal-form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-color: #2196f3;
}

.modal-form__checkbox-input:focus + .modal-form__checkbox-icon {
  border-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .modal-form__checkbox-text {
    font-size: 12px;
    line-height: 14px;
  }
}

.modal-form__policy-link {
  color: #2196f3;
}

.modal-form__button {
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */