// UTILS
@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/visually-hidden';

//BASE
@import './base/common';
@import './base/container';

//COMPONENTS
@import './components/title';
@import './components/logo';

//LAYOUT
@import './layout/page-header';
@import './layout/hero';
@import './layout/features';
@import './layout/occupation';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/footer';

//BACKDROP
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-btn';
@import './components/modal-form';
