.feature-section {
  @extend %padding;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
.feature-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.feature-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.feature-list__icon {
  @extend %flex;
  height: 120px;
  background-color: $secondBgColor;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-list__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $titleTextColor;
}
