.page-footer {
  @extend %padding;

  background-color: $thirdBgColor;
}
.page-footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.page-footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}
.contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 61px;
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.address__location {
  margin-bottom: 8px;
  color: $primaryWhiteColor;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.address__mail {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.address__item {
  color: $addressColor;

  font-style: normal;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.join {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.page-footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primaryWhiteColor;
}
.join__list {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
    margin-bottom: 60px;
  }
}
.join__item {
  margin-right: 10px;
}
.join__link {
  @extend %flex;
  width: 44px;
  height: 44px;
  background: $footerIconBgColor;
  border-radius: 50%;

  transition: background-color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accentColor;
  }
}
.join__icon {
  fill: $primaryWhiteColor;
}
.subscribe {
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}
.subscribe__info {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.subscribe__input {
  @include bordered(rgba(255, 255, 255, 0.3));
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.25;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  &::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe__button {
  margin: 0 auto;

  @extend %button;
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  background-color: $accentColor;
  box-shadow: $mainBoxShadow;

  transition: background-color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    background-color: $buttonBgColor;
  }
}
.subscribe__text {
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  margin-right: 10px;

  color: $primaryWhiteColor;
}
