.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $heroBgColor;
  text-align: center;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: $primaryWhiteColor;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  @extend %button;
  padding: 10px 32px;

  color: $primaryWhiteColor;
  background-color: $accentColor;

  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color $transitionDuration $transitionTimingFunction,
    box-shadow $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    background-color: $buttonBgColor;
    box-shadow: $mainBoxShadow;
  }
}
