.page-header {
  border-bottom: 1px solid $headerBorderColor;
}
.page-header__container,
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  line-height: 1.14;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $titleTextColor;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.site-nav__link--active {
  position: relative;

  color: $accentColor;

  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accentColor;
    border-radius: 2px;
  }
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.auth-nav__link {
  display: inline-flex;
  align-items: center;
  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;

  transition: fill $transitionDuration $transitionTimingFunction;

  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $accentColor;
  }
}
