@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: $primaryWhiteColor;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-button {
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu__close-icon {
    fill: currentColor;
    transition: fill $transitionDuration $transitionTimingFunction;

    .mobile-menu__close-button:hover &,
    .mobile-menu__close-button:focus & {
      fill: $accentColor;
    }
  }
  .menu-list__item:not(:last-child),
  .menu-contacts-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu-list {
    margin-bottom: 136px;
  }
  .menu-contacts-list {
    margin-bottom: 64px;
  }
  .menu-list__link {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $titleTextColor;
  }
  .menu-list__link--active {
    color: $accentColor;
  }
  .menu-contacts-list__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $primaryTextColor;
  }
  .menu-contacts-list__link--accent {
    font-size: 30px;
    line-height: 1.17;
    color: $accentColor;
  }
  .menu-social-list {
    display: flex;
    flex-wrap: wrap;
  }
  .menu-social-list__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-social-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: $accentColor;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
