.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transitionDuration $transitionTimingFunction,
    opacity $transitionDuration $transitionTimingFunction;

  width: 528px;
  height: 581px;
  padding: 40px;

  background: $primaryWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}
