%button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
