$primaryTextColor: #757575;
$titleTextColor: #212121;
$primaryWhiteColor: #ffffff;
$accentColor: #2196f3;
$secondBgColor: #f5f4fa;
$thirdBgColor: #2f303a;
$headerLogoColor: #000000;
$addressColor: rgba(255, 255, 255, 0.6);
$buttonBgColor: #188ce8;
$headerBorderColor: #ececec;
$portfolioBorderColor: #eeeeee;
$iconColor: #afb1b8;
$footerIconBgColor: rgba(255, 255, 255, 0.1);
$heroBgColor: #c4c4c4;
$mainBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$cardSetGap: 30px;
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
